body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs9LPBgQU4NoIhEFkuBwMoKEVoWvR5Xcn_MQ&usqp=CAU");
  background-size: 1000;
}
h1{
  text-align: center;
}
a{
  color: #05f9fd;
  text-decoration-line: none;
}